*{
    padding: 0;
    margin: 0;
}

.header {
    background-color: yellow;
    width: 100%;
    height: 90px;
}
.main {
    display: flex;
}
.contentRight {
    background-color: green;
    width: 50%;
    height: 400px;
}
.contentLeft {
    background-color: red;
    width: 50%;
    height: 400px;
}
.footer {
    background-color: blue;
    width: 100%;
    height: 90px;
}
h1{
    text-align: center;
}
